#container {
	position: static;
	margin-left: 30%;
	margin-right: 30%;
}

article{
	padding: 4px;
	padding-bottom: 8px; 
}

.rel{
	position: relative;
	padding-bottom: 0px;
	margin-left: 20px;
}

.abso{
	position: absolute;
}

.art_abso{
	padding: 0px;
	float: right;
	width: 40%;
}

.fix{
	position: fixed;
	margin-left: 20%;
}

.art_fix{
	padding: 0px;
}

.titulo_float{
	float: left;
}

.colum-1, .colum-2, .colum{
	width: 60%;
	float: left;
	margin: 10px;
}

.colum-2, .colum{
	width: 30%;
}


/*fixed-width-layout*/
#body{
	width: 960px;
	margin: 0 auto;
}

#container-3{
	overflow: auto;
	height: 100%;
	text-align: center;
}

#nav, #feature, #footer{
	background-color: #efefef;
	padding: 10px;
	margin: 10px;
}

#footer{
	margin-top: 60px;
}

.colum1, .colum2, .colum3 {
	background-color: #efefef;
	width: 300px;
	float: left;
	margin: 10px;
}

u, u li {
    background-color: #efefef;
    display: inline;
    padding: 5px;
}

/*liquid-width-layout*/

#bodyL{
	width: 90%;
	margin: 0 auto;
}

#bodyL #nav, #bodyL #feature, #bodyL #footer{
	margin: 1%;
}

#bodyL #footer{
	margin-top: 240px;
}

#bodyL .colum1, #bodyL .colum2, #bodyL .colum3 {
	width: 31.3%;
	float: left;
	margin: 1%;
}

#bodyL .colum3{
	margin-right: 0%;
}

#bodyL #nav, #bodyL #footer{
	padding: 0.5em 0;
}

#bodyL #feature, #bodyL .article{
	height: 10em;
	margin-bottom: 1em;
	background-color: #efefef;
}

#bodyL u, u li {
    background-color: #efefef;
    display: inline;
    padding: 0.5em;
}